@media screen and (max-width : 600px){
	.flexBox{
		width : 90%;
		display: -webkit-flex;
     	display: flex;
		margin : 30px auto;
		font-size : 18px;
		line-height : 24px;
		color : var(--main-color);
	}
	#main > h1{
		font-size : 18px;
		text-align : center;
		margin-top : 20px;
	}
	.flexBox .right{
		-webkit-flex: 1;
    	flex: 1;
	}
	.flexBox .left{
		-webkit-flex: 1;
    	flex: 1;
	}
	.flexBox ul{
		margin-left : 0px;
	}
	.flexBox ul > li{
		font-size : 22px;
		color : var(--main-color);
	}
	.flexBox ul > ul{
		margin-left : 10px;
	}
	.flexBox a{
		color : var(--main-color);
		text-decoration : none;
	}
}


/* wifiResult */
/* wifiResult */
.rankingTop{
	display : flex;
	flex-wrap : wrap;
	width : 97%;
}
.capasity{
	width : calc(100% / 3);
	box-sizing : border-box;
}
.rankingTop > div.capasity > a{
	display : block;
	height : auto;
	width : auto;
}
.lineComment{
	height : 50px;
	width : 100%;
	box-sizing : border-box;
	text-align : center;
	color : white;
	font-size : 24px;
	line-height : 50px;
	display : block;
}
.wifiImg{
	background-color : #fff;
	display : block;
}
.rankingTop .capasity img{
	width : 95%;
	height : 100px;
	display : block;
	margin : 5px auto;
	padding-bottom : 5px;
	border-radius : 0px;
	box-shadow : none;
}
.rankingTop .rentalFee{
	box-sizing : border-box;
	font-size : 24px;
	height : 50px;
	text-align : center;
	line-height : 50px;
	color : white;
}
#wifiCompe{
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
	list-style: none;
	position : relative;
	width : 100%;
}
#wifiCompe > ul#wifiCompeTab{
	background-color : #E0E6F7;	
   	font-size : 0px;
	position : absolute;
	top : 0;
	left : 0;
	list-style : none;
	vertical-align : middle;
	width : 100%;
	height : 50px;
}
#wifiCompe > ul#wifiCompeTab > li{
    cursor: pointer;
	margin-top : 0px !important;
    color: var(--main-sub-color) !important;
	font-size:18px;
	text-align : center;
   	text-decoration: none !important;
   	display : inline-block;
	height : 50px;
	box-sizing : border-box;
	line-height : 50px;
}
#wifiCompe li.select{
	background-color : #FFFFFF;
}

.wifiContentCompe{
	position : absolute;
	top : 50px;
	left : 0;
	width : 100%;
}
div.wifiContentCompe > div{
	position : relative;
}
li.wifiContent{
	position : relative;
	display : block;
	height : 100px;
	width : 100%;
	box-sizing : border-box;
	background : #fff;
	padding : 5px 0px;
}
li.wifiContent > a{
	display : block;
	height : 90px;
	box-sizing: border-box;
	width : auto;
	font-size : 0;
}
li.wifiContent > a:hover{
	background-color : rgba(255,255,204,0.7);
}
li.wifiContent .wifiImgLeft{
	position : absolute;
	top : 0;
	left : 0;
	width : calc(30% - 1% * 2);
	height : 100%;
	margin : 0 1%;
}
.wifiContent .wifiImgLeft > img{
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
	position: absolute;
	display: block;
	height: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;	
}

.wifiContent .wifiTitleRight{
	position : absolute;
	top : 0;
	right : 0;
	width : 70%;
}
p .kakaku{
	color : red;
	font-size:calc(10px + 0.5vw);	
}

.caution{
	font-size : calc(1.0vw);
	color : #909090;
	text-align : center;
	margin-bottom : 10px;
}

.compensation{
	margin-top : calc(0px);
	font-size:calc(5px + 0.75vw);	
	text-align : left;
}

p span .compensationComment{
	font-size : calc(0.5vw);
}

.perCost{
	font-size:calc(8px + 0.5vw);	
}

.costHikaku > .atitle{
	font-weight: 600;
	font-size:calc(12px + 0.5vw);	
	margin-top:10px;
	margin-bottom: 5px;
	color : var(--main-title-background-color);
}

.perCostDay{
	font-size:calc(1.5vw);
}

.hideSpan {
	display: none;
}

.kaisen{
	color : red;
	font-size : calc(6px + 0.5vw);
}
table.indication > tbody{
	width : 100%;
	text-align : center;
	display : block;
}

h1.wifiTitle{
	font-size : calc(10px + 1.5vw) !important;
	text-align : center;
	color : var(--main-color) !important;
	margin-bottom : 10px;
	font-weight : normal;
}

@media screen and (max-width : 600px){
	div.capasity{
		position : relative;
	}
	.wifiImg{
		background-color : #fff;
		display : block;
		height : 80px;
		position : relative;
	}
	.rankingTop .capasity div.wifiImg > img{
		width:auto;
		height:auto;
		max-width:100%;
		max-height:100%;
		position: absolute;
		display: block;
		height: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
	}
	div.lineComment{
		font-size : 18px;
		line-height : 50px;
	}
	.rankingTop .rentalFee{
		font-size : 18px;
		line-height : 50px;
	}
	#wifiCompe > ul#wifiCompeTab > li{
		font-size : 12px;
		line-height : 30px;
		height : 30px;
		color : white !important;
	}
	#wifiCompe > ul#wifiCompeTab > li.select{
		font-size : 12px;
		line-height : 30px;
		height : 30px;
		color : var(--main-color) !important;
	}
	#wifiCompe > ul#wifiCompeTab{
		background-color : var(--bar-color);	
   		font-size : 0px;
		position : absolute;
		top : 0;
		left : 0;
		list-style : none;
		vertical-align : middle;
		width : 100%;
		height : 30px;
	}
	div.wifiContentCompe{
		margin-top : -20px;
	}
	li.wifiContent{
		height : 70px;
	}
}