#bottomArticle {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction:         column;
  width: 100%;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  margin: 35px 0px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;

  h3 {
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    margin: 10px 0px;
  }

  #wifi {
    width: 100%;
    height: 80px;
    border: 2px solid var(--bar-color);
    border-radius: 5px;
    box-sizing: border-box;

    .topTitle {
      display: none;
    }

    #lowest {
      height: 100%;

      a {
        display: -webkit-flex; /* Safari */
        display: flex;
        -webkit-flex-direction: row; /* Safari */
        flex-direction:         row;
        width: 100%;
        height: 100%;

        .imageWifi {
          width: 40%;

          img.object-fit-img {
            object-fit: contain;
          	box-shadow: none;
            width: 100%;
            height: 100%;
            display: block;
            margin: auto;
          }
        }

        .bundle {
          width: 60%;

          .rentalFee {
            text-align: center;
            font-size: 22px;
            color: #E22C27;
            margin: 12px 0px;

            & > span {
              font-size: 18px;
              color: black;
            }
          }
        }
      }
    }
  }

  #traicytalk {
    margin-left: 0px;
    border: 2px solid #3f51b5;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9em;
    margin-top: 3px;

    h3 {
      margin: 5px 0px;
    }

    #article-thres {
      height: calc(100% - 25px);
      line-height: 28px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0px 3px;
      box-sizing: border-box;

      li {
        padding-left: 3px;

        &:hover {
          text-decoration: underline;
        }
      }

      li + li {
        border-top: 1px solid var(--border-color);
      }

      .campaign {
        text-align: center;
        font-size: 1.1em;

        span {
          color: #f99000;
          
        }
      }
    }


    span.article-update_icon {
      background: #F9A825;
      padding: 1px 2px;
      font-weight: bold;
      border-radius: 3px;
      color: white;
      margin-left: auto;
      font-size: 0.8em;
    }

    span.article-new_icon {
      background: #df002c;
      padding: 1px 2px;
      font-weight: bold;
      border-radius: 3px;
      color: white;
      margin-left: auto;
      font-size: .8em;
    }
  }
}
