/* line 3, ../sass/compe-box.scss */
#articleCards {
  margin-bottom: 30px;
}

/* line 6, ../sass/compe-box.scss */
#gallery-cell {
  width: 88%;
  margin: 0 1%;
}

/* line 10, ../sass/compe-box.scss */
.flickity-prev-next-button.previous {
  left: 0 !important;
}

/* line 13, ../sass/compe-box.scss */
.flickity-prev-next-button.next {
  right: 0 !important;
}




/* line 16, ../sass/compe-box.scss */
#galleryTitle {
  position: relative;
  height: 40px;
  background: var(--bar-color);
}

/* line 22, ../sass/compe-box.scss */
#galleryTitle > .category {
  line-height: 40px;
  font-size: 24px;
  margin-left: 5px;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  color: #fff;
}

/* line 32, ../sass/compe-box.scss */
#galleryTitle > .continue {
  line-height: 40px;
  font-size: 15px;
  margin-right: 5px;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff !important;
}

/* line 41, ../sass/compe-box.scss */
#compeNewest,
#compeOld {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 46, ../sass/compe-box.scss */
#gallery-cell div.container > .continue > a {
  color: #fff !important;
}

/* line 49, ../sass/compe-box.scss */
#compeNewest {
  height: 210px;
  max-height: 210px;
}

/* line 53, ../sass/compe-box.scss */
#compeOld {
  height: 60px;
  max-height: 60px;
}

/* line 57, ../sass/compe-box.scss */
#aCompe {
  display: block;
  font-size: 0;
  width: auto;
  height: auto;
}

/* line 63, ../sass/compe-box.scss */
#compeNewest > #compeImgLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  background: #fff;
}

/* line 73, ../sass/compe-box.scss */
#compeNewest > #compeImgLeft > img,
#compeOld > #compeImgLeft > img {
  display: block;
  position: absolute;
  top: 0;
  max-width: 100%;
  max-height: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 84, ../sass/compe-box.scss */
#compeNewest > #compeImgLeft > img {
  width: auto;
  height: auto;
  margin: auto;
}

/* line 89, ../sass/compe-box.scss */
#compeNewest > #compeArticleRight {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  font-size: 15px;
  width: 100%;
  font-weight: 300;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  padding: 2px 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 102, ../sass/compe-box.scss */
#compeNewest p.articleText {
  font-size: 10px;
  padding: 2px 0;
  color: var(--main-color);
  text-indent: 0.5em;
}

/* line 108, ../sass/compe-box.scss */
#compeOld > #compeImgLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: #fff;
}

/* line 116, ../sass/compe-box.scss */
#compeOld > #compeImgLeft > img {
  width: auto;
  height: auto;
  margin: auto;
}

/* line 121, ../sass/compe-box.scss */
#compeOld > #compeArticleRight {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(75% - 3px);
  background: #fff;
  height: 100%;
  margin-left: 3px;
  font-size: 14px;
  padding: 2px 0;
  color: var(--main-title-color);
  text-indent: 0.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 135, ../sass/compe-box.scss */
#aCompe + #aCompe {
  border-top: 2px solid var(--border-color);
}

/* line 139, ../sass/compe-box.scss */
#aCompe:active > #compeNewest > #compeImgLeft {
  background: rgba(255, 255, 204, 0.7);
}

/* line 142, ../sass/compe-box.scss */
#aCompe:active > #compeNewest > #compeArticleRight {
  background: rgba(255, 255, 204, 0.7);
}

/* line 145, ../sass/compe-box.scss */
#aCompe:active > #compeOld > #compeImgLeft {
  background: rgba(255, 255, 204, 0.7);
}

/* line 148, ../sass/compe-box.scss */
#aCompe:active > #compeOld > #compeArticleRight {
  background: rgba(255, 255, 204, 0.7);
}
.articleHide{
  display: none;
}

.articleHide {
  .hello {
    width: 100%;
    height: 100%;
  }
}
