/* single.php の全体制御 */
article.post{
	width : 100%;
	box-sizing : border-box;
	padding : 0px 15px;
}
#content a {
	color: #000;
	text-decoration: none;
}
.site-content article{
	border-bottom : none;
}
/*ここから.entry-header*/
header.entry-header{
	margin : 0;
	padding : 0;
	border-bottom : 2px solid var(--border-color);
	padding-bottom : 5px;
	margin-bottom: 5px;
}

/* メタデータ */
/*パンくずリスト */
div.breadAndCat{
	box-sizing : border-box;
	width : 100%;
	overflow : hidden;
}
div#breadcrumb{
	float : left;
	width : 50%;
	font-size : 16px;
	line-height : 20px;
	display : block;
	overflow : hidden;
	margin-top : 3px;
}
span.category{
	background: var(--main-title-background-color);
	display: inline-block;
	float : right;
	padding: 3px 5px 3px 5px;
	border-radius : 3px;
	margin-top : 3px;
	overflow : hidden;

	a{
		color : #fff !important;
		font-size: 16px;
		line-height : 20px;
	}

	& + span.category{
		margin-right : 5px;
	}
}


@media screen and (max-width : 600px){
	div#breadcrumb{
		width : 100%;
	}
	.onlyCategory{
		width : 100%;
		float : right;
		height : auto;
	}
	span.category{
		display : none;
	}
	header.entry-header > .hide_o600{
		float : right;
		width : 100%;
		height : 30px;
		margin-bottom : 10px;
	}
	span.onlyCategory{
		display : inline-block;
		width : auto;
		background: var(--main-title-background-color);
		padding: 3px 5px 3px 5px;
		border-radius : 3px;
		margin-top : 3px;
	}
	span.onlyCategory a{
		color : #fff !important;
		font-size: 16px;
		line-height : 20px;
	}
	span.onlyCategory + span.onlyCategory{
		margin-right : 5px;
	}
}


	#primary .entry-title {
		font-size: 18px;
		padding-bottom: 10px;
		text-indent : 1em;
		padding : 0px 5px 10px 5px;
		box-sizing : border-box;
	}
	header.entry-header h1.entry-title{
		text-align : left !important;
	}
/*記事のタイトル下にある 著者情報*/
header.entry-header div.date p a.author{
	margin-left: 10px;
}
#content .date {
	font-size: 14px;
	text-align: right;
}
/* メタデータ */

/* SNSシェアボタン */
.share_buttons {
  box-sizing: border-box;
  width: calc(100% - 20px);
  height: 35px;
  min-height: 30px;
  margin: 10px 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sns_icon {
	margin: 0px;

	&:first-child{
	  width: 95px;
	}
	&:not(:first-child) {
	  width: 90px;
	  height: 35px;
	  border-radius: 4px;
	  cursor: pointer;
		box-sizing: border-box;
		width: calc(100% / 7 - 4px);
		text-align: center;
	}

	img {
	  box-sizing: border-box;
	  height: 33px !important;
	  width: 33px !important;
	  display: inline-block;
	  border-bottom-color: rgba(1,1,1,0);
	  border-bottom: none !important;
	  box-shadow: none !important;
	  border-radius: 3px;
	  margin: 1px 1px;
	  padding: 0;
		position: relative;
		top: 45%;
		-webkit-transform: translateY(-50%); /* Safari用 */
		transform: translateY(-50%);
		width:  25px !important;
		height: 25px !important;
	}
}

.sns_icon.google {
  background-color: #E02F2F;
}
.sns_icon.line {
  background-color: #00B900;
}
.sns_icon.hatena {
  background-color: #00A4DE;
}
.sns_icon.twitter {
  background-color: #1DA1F2;
}
.sns_icon.facebook {
  background-color: #3B5998;
}
.sns_icon.facebook_like {
  height: 20px !important;
  line-height: 30px;
}

@media screen and (max-width : 320px){
	.sns_icon.google {
		display: none;
	}
	.sns_icon:not(:first-child) {
		width : 40px;
	}
}

/* SNSシェアボタン 終わり*/

/* Googleカレンダー追加ボタン */
.addGcalender.singlePage{
	margin-bottom: 8px;

	& > a{
		display: block;
		height: 26px;
	}

	button {
	  float: right;
	  width: 170px;
	  height: 26px;
	  font-size: 12px;
	  background: rgb(235, 235, 235);
	  margin: 0 10px !important;
	  padding: 0;
	}

	i {
	  font-size: 16px;
	}
}
/* Googleカレンダー追加ボタン 終わり*/

/* 記事の中身 */
#primary {
	#content {
		.entry-content {
			font-size:16px;
			line-height : 20px;
			letter-spacing : 0.8px;
			color: var(--main-color);

			& > p {
				box-sizing : border-box;
				padding : 0px 5px;
				position : relative;
				text-indent : 1em;


				& >  a {
					color : black;
					& > img {
						display : block;
						margin : auto;
						height : 200px;
						width: auto;
					}
				}

				& > img{
				  display: block;
				}
			}
		}

		footer.tag_box {
			margin: 10px 0px;
			margin-right: 5px;
			font-size: 14px;
			float: right;

			& > a{
				padding: 3px 5px 3px 5px;
				color: #fff !important;
				background : var(--main-title-background-color);
				border-radius: 5px;
				margin-right: 5px;
				text-decoration: none;
				line-height : 20px;
				height : auto;
				width : auto;
				box-sizing : border-box;
			}

			& > p {
				padding : 0;
				margin-top : 20px;
				padding-bottom : 10px;
				display : block;
				width : 100%;
				text-align : right;
				box-sizing : border-box;
			}
		}

		/* ページャー */
		.next-title {
			width: calc(100% - 15px*2);
			text-align: center;
			font-size: 14px;
			padding: 8px 15px;
			color: black;
			margin-bottom: 10px;
		}
		.page-numbers {
			text-align: center;
			font-size: 12px !important;
			padding: 10px 20px 10px !important;
			display: block !important;
			clear: both !important;
			margin-left: auto !important;
			margin-right: auto;

			.numbers {
				color: #fff;
				background: -webkit-gradient(linear,0 0,0 100%,color-stop(0.02,#9F9F9F),color-stop(0.02,#6C6C6C),color-stop(1,#525252));
				border-radius: 3px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border: solid 1px #DCDCDC;
				border-color: #202020;
				padding: 6px 9px 6px 9px;
				text-decoration: none;
				font-size: 12px;

				&:hover{
					color: #fff !important;
					background: -webkit-gradient(linear,0 0,0 100%,color-stop(0.02,#9F9F9F),color-stop(0.02,#6C6C6C),color-stop(1,#525252)) !important;
				}
			}
			a {
				.numbers {
					color: black;
					background: white;
					border: 0px;
					font-weight: 700;
				}
			}
		}
		/* ページャー */

		/* 広告 */
		.sponsor{
			font-size : 10px;
			display : block;
			margin : 10px 0px 15px;
		}
		/* 広告 */
	} /* #content */
}
/* 記事の中身 */

/* シングル境界線削除 st */
.entry-content td, .comment-content td {
	border-top: none;
	padding: 0;
}
.entry-content table, .comment-content table {
	border-bottom: none;
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 0;
	margin: 0;
	width: 0;
}



._popIn_recommend_header {
	background-color : var(--bar-color) !important;
	text-align : center !important;
}
