//  ########## Pre Made scss by Ikeda ########
@import './spectre/_variables.scss'	;
@import './spectre/_mixins.scss';
body {
	background: $paleBlue;
	width: 1520px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header {
	background: $white;
	height:230px;
	padding: 20px $desktop-padding-horizon 10px $desktop-padding-horizon ;
	margin-bottom: 40px;
}

.Row {
	@extend .Row;
	align-items: flex-start;
	justify-content: space-between;
}

.compLogo {
	height: 90px;
	width: 225px;
	margin: 12px 0 40px 0;
}

.customIcon {
	color: $black;
	margin: 0 8px;
	font-size: 1.4em;
}

.barAndAdvertize {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	margin-bottom: 15px;
}

.barItemsRow {
	@extend .Row;
	align-items: center;
}

.social-icons {
	display: inline-flex;
	align-items: flex-end;
}


.social-icon{
	font-size: 2em;
	margin-right: 16px;
	text-decoration: none;
	color: $primary;
	&:last-child{
		margin-right: 0;
	}
	&:hover{
		color: $skyBlue;
	}
}

.searchContainer {
	position: relative;
	margin-right:10px;
}

.searchInput {
	height: 30px;
	width: 250px;
	padding-left: 10px;
	border-radius: 20px;
	border: 1px solid $white;
	background: $lightGray;
	margin-right: 10px;
}

.searchIconButton {
	position: absolute;
	border: none;
	background: rgba(255, 0, 0, 0);
	top: 2px;
	left: 212px;
	cursor: pointer;
	height: 23px;
	width: 25px;
	&:hover{
		opacity:0.6;
	}
}

.searchIcon {
	z-index: $highZIndex;
	font-family: FontAwesome;
	font-size: 1.5em !important;
	background: rgba(255, 0, 0, 0);
	border: none;
	height: 25px;
	width: 25px;

}

.loginButton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 210px;
	height: 50px;
	// 	 erase padding top of header
	margin-top:-20px;
	margin-left: 15px;
	background: $lightBlue;
	color: $white;
	text-decoration: none;
	font-weight: $bold;
	&:hover{
		opacity: 0.6;
		color: $white;
	}
}

.banner-advertizement-top {
	@extend .Ad-banner;
}

.menu-text-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}



.menu-items-wrapper{
	width: 100%;
	background: $white;
}

.main-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.anchor-container{
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}

.dynamic-container{
	width: 100%;
	margin-top:20px;
}

.nav-menu{
	width: 100%;
	border: none;
	display: inline-flex;
	justify-content:space-between;
}

// ヘッダーの航空などのメニュー
// classが振れないのでこの書き方しかない。。。。
.menu-item a{
	@include body;
	background: $white;
	display: inline-block;
	font-weight: $bold;
	text-decoration: none;
	cursor:pointer;
	color: $primary;
	white-space: nowrap;
	&:hover{
		color: $skyBlue;
		border-bottom: $skyBlue solid 3px;
	}
}

//  メニューホバー時に出てくるサブメニューのスタイル
.sub-menu li {
	width: 180px;
	padding: 10px;
	background: $white;
}



/* Navigation Menu */

.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
	display: inline-block;
}

.main-navigation li ul {
	z-index: 100;
}


.main-navigation ul.nav-menu.toggled-on,.menu-toggle {
	display:none;
}

