.title_bar {
	text-align: center;
}

/* サイトの緑色のバーのところ PC版 */
.site-header h1 , .site-header h2 {
	text-align: left;
}
.site-header h1 {
	font-size: 26px;
	font-size: 1.857142857rem;
	line-height: 1.846153846;
	margin-bottom: 0;
	background:#fff
}


/* 最上部の黒いところ　st */
/* ヘッダーグループサイト st */
.site-header{
	padding: 0;
}
#header{
	background-color: #000;
	height:35px;
	text-align: left;
	width:100%;
	padding-top:3px;
	font-size:16px;
}
#header .header_text div{
	color:#fff;
	line-height: 30px;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;
	float:left;
}
#header .header_text div:hover{
	color:#239ec4;
}

/* サイト検索 {{{*/
#siteSearch{
  box-sizing: border-box;
  float: left;
  height: 30px;
  line-height: 30px;
  margin: 0 0 0 20px;
  position: relative;
}
#siteSearchForm, #siteSearchButton {
  height: 30px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 10pt;
}
#siteSearchForm {
  width: 50px;
  margin: 0px;
  border-right: none;
  border-radius: 3px 0 0 3px;
}
#siteSearchButton {
  width: 30px;
  margin: 0px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 3px 3px 0;
  background-color: white;
  position: absolute;
  top: 1px;
  left: 50px;
  text-align: center;
  cursor: pointer;
  background-color: #eeeeee;
  line-height: 28px;
  border: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 900px) {
 .social-icon {
    display: none;
  }
}
@media screen and (max-width: 740px) {
 #siteSearch {
    display: none;
  }
}
/* }}} */
/* ヘッダーグループサイト en */
/* snsアイコンの設定 {{{*/
#header .social-icon{
	float: right;
	padding-right:10px;
	padding-top:2px;
}
#header .social-icon a{
	text-decoration: none;
	color: #fff;     /* アイコンの色 */
	font-size: 22px; /* アイコンの大きさ */
	padding-left:3px;/* アイコンの配列間隔 */
}
#header .social-icon .side-feedly{font-size: 26px;}
#header .social-icon .side-google-plus{font-size: 26px;}
#topic .social-icon i:before { padding: 0; line-height: 40px; }
#topic .social-icon a {
	position: relative;
	display: inline-block;
	color: #fff !important;
	font-size: 12px; /* アイコンの大きさ */
	width:60px;
	margin: 0 2px 2px 0;
	padding: 0 0 0 35px;
	text-decoration: none;
	text-align:center;
	line-height: 35px;
	border-radius: 10px 0 10px 0;
}
#topic .social-icon i {
	color: #fff;
	position: absolute;
	border-radius: 10px 0 0 0;
	top: 0;
	left: 0;
	width: 35px;
	height: 35px;
	margin: 0;
	line-height: 35px;
	text-align: center;
	font-size: 25px; /* アイコンの大きさ */
}

#header .social-icon .side-twitter:hover    { color:#00a1e9; }
#header .social-icon .side-facebook:hover   { color:#3b5998; }
#header .social-icon .side-google-plus:hover{ color:#c53727; }
#header .social-icon .side-rss:hover        { color:#ff8c00; }
#header .social-icon .side-feedly:hover     { color:#87bf31; }
#header .social-icon .side-line:hover       { color:#1ec121; }
#topic .social-icon .side-twitter     i{background:#0081c9;}
#topic .social-icon .side-facebook    i{background:#1b3978;}
#topic .social-icon .side-google-plus i{background:#a51707;}
#topic .social-icon .side-rss         i{background:#df6c00;}
#topic .social-icon .side-feedly      i{background:#679f11;}
#topic .social-icon .side-line        i{background:#00a101;}
#topic .social-icon .side-twitter     {background:#00a1e9;}
#topic .social-icon .side-facebook    {background:#3b5998;}
#topic .social-icon .side-google-plus {background:#c53727;}
#topic .social-icon .side-rss         {background:#ff8c00;}
#topic .social-icon .side-feedly      {background:#87bf31;}
#topic .social-icon .side-line        {background:#1ec121;}
/*}}}*/
/*最上部　ここまで*/


/*
@media screen and (max-width: 600px) {
	.main-navigation li {
		display: block;
		border-bottom: 1px solid #ededed;
	}
	.main-navigation li:last-child {
		border-bottom: none;
	}
	.main-navigation ul.nav-menu.toggled-on, .menu-toggle {
		display: none;
	}
	ul.sub-menu{
		display: none;
	}
	ul.nav-menu{
		text-align: right;
		margin: 0 0 0 -60px;
	}
	.main-navigation li a{
		background: #006835;
		display: block;
		font-size: 12px;
		line-height: 2.181818182;
		padding: 0;
		padding: 1rem 0.7rem;
		width: 6rem;
		white-space: normal;
	}
	button.menu-toggle{
		margin: 10px 20px 10px auto;
	}
	#masthead.site-header {
		padding: 0;
	}
	.title_bar {
		padding: 0;
	}
	.main-navigation li a {
		border-bottom: 0;
		color: #6a6a6a;
		line-height: 0;
		text-transform: uppercase;
		white-space: nowrap;
	}
	.main-navigation .current-menu-item > a, .main-navigation .current-menu-ancestor > a, .main-navigation .current_page_item > a, .main-navigation .current_page_ancestor > a, .main-navigation li a {
		color: #fff;
	}

	nav#site-navigation {
		text-align: center;
		border: 1px solid #e5e5e5;
		box-shadow: none;
		background: #fff;
        height: 60px;
	}
}
@media screen and (max-width: 600px) {
	.main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul {
		display:none;
	}
	.main-navigation ul.nav-menu.toggled-on {
		z-index: 100;
		position: absolute;
	}
}
*/


/* ロゴイメージ st {{{*/
.header_logo {
	width: 170px;
}
img.header_logo {
	margin: 12px 15px 8px 20px;
	float: left;
}
header#masthead .my_adslot{
	float:right;
      margin: 10px 10px 0 0;
}


/* グローバルメニュー st {{{*/
.main-navigation {
	background-color: var(--navigation-bar-color);
	color: #fff;
	z-index: 999;
	width: 100%;
	max-width: var(--main-width);
}
.main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul {
	border-bottom: none;
	border-top: none;
	display: inline-block;
	text-align: left;
}
.main-navigation li {
	margin: 0;
	position: relative;
	font-size: 14px;
	display: inline-block;
}
.main-navigation li a{
	color: #fff;
	padding:0 5px;
	line-height: 2.5;
}
.main-navigation li a:hover {  /* マウスオーバー時の文字色/背景色の設定 */
	background: #fff;
	color: #000;
}
.main-navigation li ul li a {
	background: var(--navigation-bar-color);
	border-bottom: 1px solid #ededed;
	display: block;
	font-size: 12px;
	font-size: 0.857142857142857rem;
	line-height: 1.4;
	padding: 8px 10px;
	padding: 0.571428571rem 0.714285714rem;
	width: 180px;
	width: 12.85714286rem;
	white-space: normal;
}
.main-navigation li ul li:hover {
	background-color: #fff;
}
.main-navigation li ul li a:last-child {
	border-bottom: none;
}


/* Navigation Menu */
.main-navigation {
	margin-top: 0;
	text-align: center;
}
.main-navigation li {
	margin: 0;
	font-size: 14px;
	font-size: 1rem;
	line-height: 1.42857143;
}
.main-navigation a {
	color: #5e5e5e;
}
.main-navigation a:hover,
.main-navigation a:focus {
	color: #21759b;
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
	display: none;
}
.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
	display: inline-block;
}
.main-navigation li a,
.main-navigation li {
	text-decoration: none;
}
.main-navigation li ul {
	z-index: 100;
}


.main-navigation ul.nav-menu.toggled-on,.menu-toggle {
	display:none;
}



/* グローバルメニュー en }}}*/
